@tailwind base;
@tailwind components;
@tailwind utilities;

/* navbar disgn */
.navbarUti {
    @apply w-full h-20 text-white justify-center items-center flex;
    background-color: #051620;
}
.navbarUti ul {
    @apply flex flex-row;
}
.navbarUti ul li {
    @apply mr-8 font-semibold text-lg;
}
.navbarUti ul li button {
    @apply rounded-lg p-1 pr-4 pl-4 absolute right-5;
    background-color: #E4800B;
}


/* accueil */


.accueil {
    @apply w-full p-10 justify-center items-center flex bg-gray-200 mb-10;
    height: 400px;
}

.container_accueil {
    @apply w-10/12 justify-center items-center flex bg-gray-200 m-auto flex-col;
}
.container_accueil h1 {
    @apply font-bold text-2xl m-12;
}
.container_accueil .container .sub-container {
    @apply w-96 bg-gray-300 p-3 h-72 mb-36 rounded-xl;
}
.container_accueil .container .sub-container .image-show {
    @apply w-full h-5/6 justify-center items-center flex opacity-90 p-5;
    background-color: #051620
}
.container_accueil .container .sub-container .image-show img {
    @apply max-w-full max-h-full;
}

/* PAGE DE CONNEXION */


.conn_container {
    @apply w-full relative h-screen;
}
.conn_container .sub-photo {
    @apply w-5/12 absolute left-0 h-screen;
}
.conn_container .sub-conn {
    @apply w-7/12 absolute right-0 h-screen justify-center items-center flex;
    background-color: #051620;
    border-top-left-radius: 35%;  
    border-bottom-left-radius: 50%; 
}
.conn_container .sub-conn .content {
    @apply bg-white w-6/12 h-5/6 absolute right-16 rounded-2xl p-10 justify-center items-center flex flex-col m-auto;
}
.conn_container .sub-conn .content p {
    @apply text-red-400 font-semibold;
}
.conn_container .sub-conn .content h2 {
    @apply text-2xl font-sans font-bold mb-3;
    color: #051620;
}
.conn_container .sub-conn .content .form-align {
    @apply justify-center items-center flex w-full p-4 flex-col;
}
.conn_container .sub-conn .content .form-align p {
    @apply font-medium;
    color: #051620;
}
.conn_container .sub-conn .content .form-align a {
    color: #E4800B;
}
.conn_container .sub-conn .content form {
    @apply flex flex-col w-full m-auto relative;
}
.conn_container .sub-conn .content form label {
    @apply text-xs float-left;
}
.conn_container .sub-conn .content form input {
    @apply border-2 border-solid w-full rounded-lg mb-4 p-1 h-8;
}
.conn_container .sub-conn .content form .btn-send {
    @apply mt-6 font-bold;
    background-color: #E4800B;
    color: #051620;
}
.conn_container .sub-conn .content button {
    @apply w-full h-7 absolute bottom-0 left-0 rounded-b-2xl;
    background-color: #E4800B;
}


/* message disign */


.container-msg {
    @apply w-full relative;
}
.container-msg .part-contact {
    @apply w-4/12 left-0 absolute h-screen text-white p-2 pl-9;
    background-color: #051620;
    opacity: 90%;
}
.container-msg .part-convers {
    @apply w-8/12 bg-slate-400 right-0 absolute;
}


/* new articles disign */


.container-addArt {
    @apply w-full relative h-screen; 
}
.container-addA .part-bg {
    @apply w-4/12 absolute left-0 h-screen ;
}
.container-addA .part-bg img {
    /* background-image: url(../src/images/warehouse.jpg); */
    @apply w-full bg-cover bg-center bg-no-repeat;
}
.container-addArt .part-Add {
    @apply w-8/12 h-full absolute right-0 justify-center items-center flex;
}
.container-addArt .part-Add .rendu {
    @apply w-2/5 h-96 absolute left-0 rounded-lg;
}
.container-addArt .part-Add .rendu .container-add {
    @apply w-full h-80 rounded-lg p-3 flex flex-col;
    background-color: #051620;
}
.container-addArt .part-Add .rendu .container-add .sub-image {
    @apply w-full h-4/5 bg-slate-400 p-5;
}
.container-addArt .part-Add .rendu .container-add h5 {
    @apply font-bold;
    color: #E4800B;
}
.container-addArt .part-Add .rendu .container-add label {
    @apply text-white;
}
.container-addArt .part-Add .rendu .container-add p {
    @apply text-white;
}
.container-addArt .part-Add .ajouter {
    @apply w-2/5 h-96 absolute right-0;
}
.container-addArt .part-Add .ajouter p {
    @apply text-red-400;
}
.container-addArt .part-Add .ajouter form {
    @apply flex flex-col h-96;
}
.container-addArt .part-Add .ajouter form input {
    @apply border-2 border-solid w-5/6 rounded-lg mb-3
    p-1 pl-4 pr-4;
    border-color: #E4800B;
}
.container-addArt .part-Add .ajouter form select {
    @apply border-2 border-solid w-5/6 rounded-lg mb-3
    p-1 pl-4 pr-4;
    border-color: #E4800B;
}
.container-addArt .part-Add .ajouter form select option {
    @apply border-2 border-solid w-5/6 rounded-lg mb-3
    p-1 pl-4 pr-4;
    border-color: #E4800B;
}
.container-addArt .part-Add .ajouter form textarea {
    @apply border-2 border-solid w-5/6 rounded-lg mb-3 p-2;
    border-color: #E4800B;
}
.container-addArt .part-Add .ajouter form .shoose {
    @apply border-2 border-solid p-2 pb-7;
    background-color: #E4800B;
    border-color: #E4800B;
}
.container-addArt .part-Add .ajouter form .valide {
    @apply border-2 border-solid;
    background-color: #E4800B;
    border-color: #E4800B;
}
.container-addArt .part-Add .ajouter form label {
    @apply text-left font-bold items-start left-0;
    color: #051620;
}


/* settings */


.container-set {
    @apply w-full h-screen;
}
.container-set .sub-part1 {
    @apply w-4/12 h-full opacity-90 border-r-2 border-solid border-r-slate-600 absolute left-0
    text-white justify-center items-center m-auto;
    background-color: #051620
}
.container-set .sub-part1 ul {
    @apply flex flex-col;
}
.container-set .sub-part1 ul li {
    @apply m-5;
}
.container-set .sub-part2 {
    @apply w-8/12 opacity-90 h-full absolute right-0;
    background-color: #051620;
}



/* disign add admin */


.container-set .sub-part2 .content {
    @apply bg-white w-6/12 h-5/6 absolute right-16 rounded-2xl p-10 justify-center items-center flex flex-col m-auto;
}
.container-set .sub-part2 .content h2 {
    @apply text-2xl font-sans font-bold mb-3;
    color: #051620;
}
.container-set .sub-part2 .content .form-align {
    @apply justify-center items-center flex w-full p-4 flex-col;
}
.container-set .sub-part2 .content .form-align p {
    @apply font-medium;
    color: #051620;
}
.container-set .sub-part2 .content .form-align a {
    color: #E4800B;
}
.container-set .sub-part2 .content form {
    @apply flex flex-col w-full m-auto relative;
}
.container-set .sub-part2 .content form label {
    @apply text-xs float-left;
}
.container-set .sub-part2 .content form input {
    @apply border-2 border-solid w-full rounded-lg mb-4 p-1 h-8;
}
.container-set .sub-part2 .content form .btn-send {
    @apply mt-6 font-bold;
    background-color: #E4800B;
    color: #051620;
}
.container-set .sub-part2 .content button {
    @apply w-full h-7 absolute bottom-0 left-0 rounded-b-2xl;
    background-color: #E4800B;
}